@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    height: 1142px;
    display: flex;

}

.container-left {
    width: 100%;
    height: 1142px;
    background-color: #f0f0f0f0;
}

.container-right {
    width: 100%;
}

.container-right img {
    width: 100%;
    height: 1142px;
    position: relative;
    /* visibility: hidden; */
}

.sign {
    width: 100%;
    height: 884px;
    margin-top: 129px;
    margin-bottom: 129px;
    padding-left: 84px;
    padding-right: 84px;
}

.sign h2 {
    width: 100%;
    height: 49px;
    padding-right: 12px;
    font-family: Cabin;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;

}

.sign p {
    width: 100%;
    height: 29px;
    margin-bottom: 16px;
    margin-right: 84px;
    font-family: Cabin;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #949494;
}

label {
    height: 19px;
    display: block;
    margin-left: 5px;
    color: #060606;
    font-family: Cabin;
    font-weight: 400;
    font-size: 16px;
}


input {
    display: block;
    width: 90%;
    height: 50px;
    padding: 8px;
    margin-left: 5px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 8px;
    color: black;
    font-size: 12px;
    cursor: pointer;
}

select {
    display: block;
    width: 90%;
    height: 50px;
    margin-left: 5px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.btn {
    width: 90%;
    height: 50px;
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    color: #ddd;
    background-color: #264653;
    cursor: pointer;
}

.btn h3 {
    width: 100%;
    height: 20px;
    font-family: Cabin;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #fff;
}

.btn:hover {
    background-color: #2b036c;
    
}

.account h3 {
    width: 100%;
    height: 16px;
    margin-top: 16px;
    text-align: center;
    font-family: Cabin;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

.log {
    color: #264653;
    cursor: pointer;
}

.log:hover {
    color: #2b036c;
}

.account h4 {
    /* width: 22%; */
    /* height: 20px; */
    margin-left: 240px;
    margin-top: 16px;
    font-family: Cabin;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #B3B3B3;
}

.bttn {
    width: 90%;
    height: 50px;
    margin-top: 17px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: #ddd;
    box-shadow: 3px 3px;
    cursor: pointer;
}

.bttn h4 {
    width: 100%;
    height: 20px;
    font-family: Cabin;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #060606;
}

.bttn:hover {
    /* transform: translateZ(5px) scale(.9);
    transform: translateZ() scale(1); */
    background-color: gray;
}

.google {
    display: flex;
    justify-content: space-evenly;
}

.img {
    width: 30%;
    height: 30px;
    padding-left: 50px;

}

.signn h2 {
    width: 100%;
    height: 19px;
    margin-top: 5px;
    padding-right: 130px;
    font-family: Cabin;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 3%;
}